{erl_opts, [debug_info]}.
{deps, [{epmdless, {git, "https://github.com/tsloughter/epmdless", {branch, "static"}}}]}.

{relx, [{release, {epmdless_test, "0.1.0"},
         [epmdless,
          epmdless_test]},
        {extended_start_script, true},
        {include_erts, true},
        {dev_mode, false},
        {vm_args_src, "config/vm.args.src"}]}.
