%% == Erlang Compiler ==

{erl_opts, [
  debug_info
]}.

%% == Dependencies ==

{deps, []}.

%% == Plugins ==

{plugins, [rebar3_hex]}.

%% == Release ==

{relx, [
  {release, {epmdless, "0.1.4"}, [epmdless]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

%% == Profiles ==

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}
]}.

%% == Common Test ==

{ct_compile_opts, [
  debug_info
]}.

{ct_opts, [
  {sys_config, ["test/test.config"]}
]}.
